name: lint
on: [push, pull_request]
jobs:
    lint-prettier-server:
        runs-on: ubuntu-22.04
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v2
              with:
                  node-version: '22'

            - name: Install dependencies
              run: cd server && npm install

            - name: Run ESLint server
              run: cd server && npm run lint
